:root {
  --main-color: rgb(34, 42, 67);
  --secondary-color: rgb(249, 250, 136);
  --third-color: rgb(228, 140, 75);
  --fourth-color:#01fe87;
  --menu-speed: 0.75s;
}
body {
  margin: 0;
  background-color: var(--main-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type=text], select, textarea {
  width: 50%;
  padding: 12px; 
  border:none;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 20px;

}
.LinksS {
  text-decoration: none;
}
.ME {
  width:40%;
  height:50%;
}